/* No Border Text Field
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.input-no-border {
    border: none !important;
    box-shadow: none !important
}

.narrow {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.warning {
    border: 1px solid red;
}


/* Secondary Button */
.button.button-secondary,
button.button-secondary,
input[type="submit"].button-secondary,
input[type="reset"].button-secondary,
input[type="button"].button-secondary {
    color: #FFF;
    background-color: #D9534F;
    /* Red/Berry color */
    border-color: #D9534F;
}

.button.button-secondary:hover,
button.button-secondary:hover,
input[type="submit"].button-secondary:hover,
input[type="reset"].button-secondary:hover,
input[type="button"].button-secondary:hover,
.button.button-secondary:focus,
button.button-secondary:focus,
input[type="submit"].button-secondary:focus,
input[type="reset"].button-secondary:focus,
input[type="button"].button-secondary:focus {
    color: #FFF;
    background-color: #C9302C;
    /* Darker Red/Berry color */
    border-color: #C9302C;
}