<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Midjourney Prompt Tool</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/custom.css">
  <style>
    .prompt {
      transition: transform 0.3s ease-in-out;
    }
  </style>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">
  <!-- <script src="https://unpkg.com/petite-vue" defer init></script> -->
  <script type="module">
    import { createApp } from 'https://unpkg.com/petite-vue?module'


    function PromptCreator() {
      return {
        prompts: [{ label: 'Prompt 1', text: '', visible: true }],
        completedPrompts: [],
        showToast: false,
        addPrompt() {
          this.prompts.push({ label: `Prompt ${this.prompts.length + 1}`, text: '', visible: true });
        },
        removePrompt(index) {
          this.prompts.splice(index, 1);
        },
        movePromptUp(index) {
          if (index > 0) {
            const temp = this.prompts[index];
            this.prompts[index] = this.prompts[index - 1];
            this.prompts[index - 1] = temp;
          }
        },
        movePromptDown(index) {
          if (index < this.prompts.length - 1) {
            const temp = this.prompts[index];
            this.prompts[index] = this.prompts[index + 1];
            this.prompts[index + 1] = temp;
          }
        },
        toggleVisible(index) {
          this.prompts[index].visible = !this.prompts[index].visible;
        },
        get concatenatedPrompts() {
          return this.prompts.filter(prompt => prompt.visible).map(prompt => prompt.text).join(' ');
        },
        copyToClipboard() {
          navigator.clipboard.writeText(this.concatenatedPrompts).then(() => {
            this.showToast = true;
            setTimeout(() => {
              this.showToast = false;
            }, 2000);
          });
        },
        // copyToClipboard() {
        //   navigator.clipboard.writeText(this.concatenatedPrompts).then(() => {
        //     alert('Copied to clipboard!');
        //   });
        // },
        submitPrompts() {
          const completedPrompt = this.prompts.map(prompt => {
            const label = `<i>${prompt.label}</i>`;
            const text = prompt.visible ? prompt.text : `<span style="color: red;">${prompt.text}</span>`;
            return `${label}: ${text}`;
          }).join(' ');
          this.completedPrompts.push(completedPrompt);
        },
        savePrompts() {
          localStorage.setItem('prompts', JSON.stringify(this.prompts));
          alert('Prompts saved to local storage!');
        },
        deletePrompts() {
          localStorage.removeItem('prompts');
          this.prompts = [{ label: 'Prompt 1', text: '', visible: true }];
          alert('Prompts deleted from local storage!');
        },
        loadPrompts() {
          const savedPrompts = localStorage.getItem('prompts');
          if (savedPrompts) {
            this.prompts = JSON.parse(savedPrompts);
          }
        },
        mounted() {
          console.log(`I'm mounted!`);
          this.loadPrompts();
        }
      }
    }

    createApp({
      Counter,
      PromptCreator
    }).mount()
  </script>
</head>

<body>

  <!-- Primary Page Layout -->
  <div class="container" style="margin-top: 5%">
    <!-- Petite Vue -->
    <div v-scope="PromptCreator()">
      <!-- Toast notification -->
      <div class="toast" :class="{ 'toast-hide': !showToast }">
        Copied to clipboard!
      </div>
      <div class="row" style="margin-top: 3rem; margin-bottom: 3rem;">
        <h4>Midjourney Prompt</h4>
        <div class="columns twelve">
          <p>{{ concatenatedPrompts }}</p>

        </div>
        <div class="columns twelve">
          <button class="button-primary" @click="copyToClipboard">Copy to Clipboard</button>
          <button type="button" @click="savePrompts">Save Prompts</button>
        </div>
        <div class="columns two">
          <button type="button" @click="deletePrompts">Delete Prompts</button>
        </div>
        <div class="columns two">
          <button type="button" @click="loadPrompts">Load Prompts</button>
        </div>

      </div>

      <div class="row">
        <hr />
      </div>

      <!-- The prompts -->
      <div class="row prompt" v-for="(prompt, index) in prompts" :key="index">
        <div class="columns two">
          <input class="u-full-width input-no-border" type="text" :id="'label' + index" v-model="prompt.label"
            placeholder="Label">
        </div>
        <div class="columns seven">
          <input class="u-full-width" type="text" :id="'prompt' + index" v-model="prompt.text"
            placeholder="Enter prompt">
        </div>
        <!-- prompt controls -->
        <div class="columns three">
          <button type="button" class="narrow" @click="toggleVisible(index)">
            {{ prompt.visible ? 'O' : 'Ø' }}
          </button>
          <button type="button" class="narrow" @click="movePromptUp(index)">&#x25B2; </button>
          <button type="button" class="narrow" @click="movePromptDown(index)">&#x25BC;</button>
          <button type="button" class="narrow button-secondary" @click="removePrompt(index)">
            Del
          </button>

        </div>
      </div>

      <div class="row">
        <button type="button" @click="addPrompt">Add Prompt</button>
        <!-- <hr /> -->
      </div>

      <!-- Add and store -->
      <div class="row">
        <button type="button" @click="addPrompt">Add Prompt</button>
        <input class="button-primary" type="submit" value="Submit" @click="submitPrompts">
        <button type="button" @click="savePrompts">Save Prompts</button>
        <button type="button" @click="deletePrompts">Delete Prompts</button>
        <button type="button" @click="loadPrompts">Load Prompts</button>
      </div>

      <div class="row">
        <hr />
      </div>

      <div class="row">
        <h3>Completed Prompts</h3>
        <ul>
          <li v-for="(completedPrompt, index) in completedPrompts" :key="index" v-html="completedPrompt"></li>
        </ul>
      </div>

    </div>


  </div>

</body>

</html>